<h1>My Cart</h1>

<div>
	<table class="table">
	<% @line_items.each do |line_item| %>
		<tr>
			<td><%= line_item.product.name %></td>
			<td><%= money(line_item.product.price) %></td>
			<td>Qty: <%= line_item.quantity %></td>
			<td>Subtotal: <%= money(line_item.line_item_total) %></td>
		</tr>
	<% end %>
	<tr>
		
		<td><strong>Products</strong></td>
		<td><strong>Prices</strong></td>
		<td><strong>Quantity<strong></td>
		<td><strong>Subtotal:</strong> <%= money(@order.subtotal) %></td>

	</tr>
	</table>
</div>

<div>
	<%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success"%>
</div>