<h1>Welcome to WNC Organix</h1>
<p>Allow us to help you feel better with CBD</p>

<div class="row">
	<% @products.each do |product| %>
		<div class="col-md-4">
			<div class="well">
				<% if product.image.url.nil? == false %>
					<p><%= image_tag product.image.url, size: 250; %></p>
				<% end %>
				<h3><%= link_to product.name, product %></h3>
				<p>
					<a href="" data-toggle="modal" data-target="#myModal_<%= product.id %>">
						<span class="glyphicon glyphicon-plus"></span>
						Quick Info
					</a>
				<h4><%= money(product.price) %></h4>
				</p>
			</div>
		</div>
		<!-- Modal code start -->
		<div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      </div>
		      <div class="modal-body">
		        <% if product.image.url.nil? == false %>
					<center><p><%= image_tag product.image.url, size: 350; %></p></center>
				<% end %>
				<h3><%= link_to product.name, product %></h3>
				<p>
					<a href="" data-toggle="modal" data-target="#myModal_<%= product.id %>">
						<span class="glyphicon glyphicon-plus"></span>
						Quick Info
					</a>
				<h4><%= money(product.price) %></h4>
				<p><%= product.description %></p>
				<p>Made By:<%= product.brand %></p>
				</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Modal code end -->
	<% end %>
</div>

